{
    'apiVersion' : 1,

    'seed' : '1a2bac41a628fb7b54ca84bd3e1a2bac',
    'publicKeyFile' : '/app/config/ethsf22.pub',
    'privateKeyFile' : '/app/config/ethsf22.pvk',

    'cachingEnabled': true,

    'http': {
        'port': 443,

        'useHttps': true,
        'keyStore': '/app/config/keystore.jks',
        'keyStorePass': 'pass'
    },

    'websocket': {
        'port': 8000,

        'useWss': true,
        'keyStore': '/app/config/keystore.jks',
        'keyStorePass': 'pass',
        'keyPass': 'pass',

        'connectionLostTimeout': 300
    },

    'databases': {
        'ethsf22': {
            'connectionAdapterType': 'pgsql',

            'jdbcConfig': {
                'host': '172.17.0.1',
                'port': 5432,
                'schema': 'public',
                'database': 'ethsf22',
                'user': 'ethsf22',
                'pass': 'pass'
            }
        },
        'marketplace': {
            'connectionAdapterType': 'sqlite',
            'replication': {
                'type': 'none',
                'allowedCachingIntervalSec': 604800
            },

            'jdbcConfig': {
                'database': '/storage/storage_marketplace.db'
            }
        },
        'audit_scope': {
            'connectionAdapterType': 'pgsql',

            'jdbcConfig': {
                'host': '172.17.0.1',
                'port': 5432,
                'schema': 'public',
                'database': 'weaveflow_audit',
                'user': 'ethsf22',
                'pass': 'pass'
            }
        },
        'lineage_scope': {
           'connectionAdapterType': 'sqlite',
           'replication': {
               'type': 'none'
           },

           'jdbcConfig': {
               'database': '/storage/storage_lineage.db'
           }
        },
        '_sidechain_weave': {
            'connectionAdapterType': 'sqlite',
            'replication': {
                'type': 'none'
            },

            'jdbcConfig': {
                'database': '/storage/storage_system.db'
            }
        },
        '_node_weave_private': {
            'connectionAdapterType': 'sqlite',
            'replication': {
                'type': 'none'
            },
              'jdbcConfig': {
                'database': '/storage/storage_system_private.db'
            }
        }
    },

    'audit': {
        'auditScope': 'audit_scope',
        'auditAccount': 'ethsf22',
        'guaranteed': false,
        'auditTables': true,
        'auditAccounts': true,
        'auditTasks': true,
        'logRequestStart': true,
        'logRequestEnd': true,
        'logRequestData': true,
        'logRequestResult': true,
        'connection': {
            'account': 'weavesYd1shiK5E3pCewtVNxGcTDNg9QEHFk1GicacKJEeLnW',
            'publicKeyFile' : '/app/config/ethsf22.pub',
            'privateKeyFile' : '/app/config/ethsf22.pvk',
            'inMem': true
        }
    },

    'lineage': {
        'lineageScope': 'lineage_scope'
    },

    'compute': {
        'dockerServiceURL': 'http://172.17.0.1:2375',
        'keyStore': 'keystore.jks',
        'keyStorePass': 'password'
    },

    'sidechainDataConfig': {
        'sysDataScope': '_sidechain_weave',
        'sysPrivateDataScope': '_node_weave_private'
    },

    'authChain': {
        'chains': {
            'gnosis': {
                'ethereumConfig': {
                    'chainId': 100,
                    'web3': {
                       'account': '0x1bc466cb75a831eb10e00bc67f0fa82d3df1b95d',
                       'httpUrl': 'https://rpc.gnosischain.com',

                       'keyStoreFile': '/app/config/chainkey.txt',
                       'keyStorePassFile': '/app/config/chainpass.txt'
                    }
                }
            },
            'polygon-testnet': {
                'ethereumConfig': {
                    'chainId': 80001,
                    'contracts': {
                        'mainchain': {
                            'marketplace:USDC': '0xa01aFd338495D3453B8dB6F9b78ed57174009E15',
                            'token:USDC': '0xe11A86849d99F524cAC3E7A0Ec1241828e332C62'
                        }
                    },
                    'web3': {
                       'account': '0x1bc466cb75a831eb10e00bc67f0fa82d3df1b95d',
                       'httpUrl': 'https://rpc-mumbai.maticvigil.com',

                       'keyStoreFile': '/app/config/chainkey.txt',
                       'keyStorePassFile': '/app/config/chainpass.txt'
                    }
                }
            }
        }
    },

    'organizations': {
        'weavedemo': {
            'issuers': {
                'gnosis:POAP:0x22C1f6050E56d2876009903609a2cC3fEf83B415:81571': {
                    'allowedRoles': [ 'directoryreader', 'directorywriter' ]
                }
            },
            'accounts': {
                'ethsf22': {
                    'publicKey': 'weaveqVBcpn2qSYLgCscEh6VurmPdVJxzR753GzDgC3p2tbCd',
                    'roles': [ 'writer' ]
                },
                'omare': {
                    'publicKey': 'weaveuGMS8GZhHZ5bc57XUaThFXyPMv5WbDF659NEB681kftm',
                    'roles': [ 'writer' ]
                },
                'poapalloc': {
                    'publicKey': 'weavegANG53zEpsUhd45Psv1quHErfcBwyNrJu3rYc6v4bVs9',
                    'roles': [ 'poapreader', 'poapwriter' ]
                }
            },
            'roles': {
                'reader': {
                    'permissions': [ {
                        'scopes': [ { name: '*', tables: [ '*' ] } ],
                        'rights': [ 'view', 'read', 'compute' ]
                        }
                    ]
                },
                'writer': {
                    'permissions': [ {
                        'scopes': [ { name: '*', tables: [ '*' ] } ],
                        'rights': [ 'view', 'create', 'drop', 'read', 'write', 'compute' ]
                        }
                    ]
                },
                'poapreader': {
                    'permissions': [ {
                        'scopes': [ { name: 'ethsf22', tables: [ 'poaps' ] } ],
                        'rights': [ 'view', 'read', 'compute' ]
                        }
                    ]
                },
                'poapwriter': {
                    'permissions': [ {
                        'scopes': [ { name: 'ethsf22', tables: [ 'poaps' ] } ],
                        'rights': [ 'view', 'write', 'compute' ]
                        }
                    ]
                },
                'directoryreader': {
                    'permissions': [ {
                        'scopes': [ { name: 'ethsf22', tables: [ 'directory', 'weaveflow' ] } ],
                        'rights': [ 'view', 'read' ]
                        }
                    ]
                },
                'directorywriter': {
                    'permissions': [ {
                        'scopes': [ { name: 'ethsf22', tables: [ 'directory', 'weaveflow' ] } ],
                        'rights': [ 'view', 'write', 'compute' ]
                        }
                    ]
                }
            }
        }
    },

    'peers': {
        'consensus': 'none',
        'pingIntervalSec': 10,
        'connections': [
        ]
    },

    'blockchain': {
        'type': 'ethereum',
        'signSecret': 'keyphrase',
        'reportErrorIds': false,
        'asyncWrite': true,


        'ethereumConfig': {
            'chainId': 80001,

            'contracts': {
               'ethsf22': {
                  'directory': '0x7b4Cf67192289056adC353F8018529C9F208ba60',
                  'weaveflow': '0x78F97E4417173620a9bd87fe4e33e9815D34333a'
               }
            },

            'web3': {
               'account': '0x1bC466cB75a831eB10E00bC67f0Fa82d3Df1b95D',
               'httpUrl': 'https://rpc-mumbai.maticvigil.com',

               'keyStoreFile': '/app/config/chainkey.txt',
               'keyStorePassFile': '/app/config/chainpass.txt'
            }
        },

        'signingOptions': {
            'waitRecords': 100000,
            'waitSize': 2097152,
            'waitTimeMs': 1000
        }
    }
}
